{% extends 'template.html' %}
{% load static %}
<!--slider -->
{% block content %}
        <div class='slide'>
            <input type='radio' name='radio-set' checked='checked' />
            <img src='static/img/buku.png'/>
          
            <input type='radio' name='radio-set' />
            <img src='static/img/buku2.jpg'/>
          
            <input type='radio' name='radio-set' />
            <img src='static/img/buku4.jpg'/>
          
            <input type='radio' name='radio-set' />
            <img src='static/img/buku5.jpg'/>
        </div>
        <hr>
<!-- content -->
<div class="album py-5 bg-white">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 offset_md-4 text-center MyButton">
                <a href="tambahbuku">Tambah Buku</a>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <h4>Buku Terpopuler</h4>
        </div>
    </div>
        <div class="row">
            {% for data in buku_obj%}
                <div class="col-sm-2 my-3">
                    <div class="hovereffect">
                        <img class="img-responsive" src="../../media/{{data.gambar}}" alt="">
                            <div class="overlay"><br>
                               <h5>Judul: {{data.judul}}</h5>
                               <h5>Publisher: {{data.publisher}}</h5>
                               <h5>Sisa stock: {{data.ketersediaan}}</h5>
                               <h5>Harga: {{data.harga}}</h5>
                               <h5>Harga Diskon: {{data.hargadiskon}}</h5>
                               <a class="info" href="{% url 'lengkapBuku' post_id=data.id %}">Lihat detail</a>   
                               <a class="info" href="detailbook">BUY</a>
                    </div>    
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}