{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" id="bootstrap-css" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" id="bootstrap-css" href="{% static 'css/main.css'%}">
        
    </head>
    <body>
        <!--header-->
        <div class="container-fluid align-content-center">
            <div class="row">
                <!-- <div class="col-md-9"> -->
                    <nav class="shift">
                            <div class="search">
                                    <form class="search-form">
                                        <input type="text" placeholder="Search for books, authors, categories and more..">
                                        <input type="submit" value="Submit">
                                    </form>
                                </div><br>
                      <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'kategori' %}">Kategori</a></li>
                        <li><a href="{% url 'download' %}">Download</a></li>
                        <!-- <li><a href="#">More</a></li>
                        <li><a href="#">Nice staff</a></li> -->
                    </ul>
                    </nav>
                </div>
            </div>
        <br>
        {% block content %}
        {% endblock %}
    </body>
    <footer class="page-footer">
            <div class="footer-copyright text-center py-3">2019 Copyright:
                <a href="home" class="py-3"> OurBook</a>
            </div>
        </footer>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script>
</html>