{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        "Home | Buku Kita"
    </title>
    <link rel='stylesheet' href="{%static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{%static 'css/css_style.css' %}">
</head>
<body>
    <div class='album'>
        <div class="first">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-12 offset-md-0 col-sm-12">
                        <div class="headhome">
                            <h2><a href=../ >Semua Kategori</a></h2>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            {% for data in buku_obj %}
            <div class="col-md-2 col-sm-6 col-12">
                <div class="learn-img">
                    <div class="card mb-2">
                        <div class="barang1">
                            <img src="../../media/{{data.gambar}}"/>
                            <h5>{{data.judul}}</h5>
                            <h5>{{data.publisher}}</h5>
                            <h5>{{data.ketersediaan}}</h5>
                            <h5>{{data.harga}}</h5>
                            <h5>{{data.hargadiskon}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
</body>
</html>